In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import tensorflow as tf
from tensorflow import keras

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, scale, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer

In [3]:
train = pd.read_csv("C:/Users/Roshan Maur/Downloads/Data/Data/Train.csv")
test = pd.read_csv("C:/Users/Roshan Maur/Downloads/Data/Data/Test.csv")

In [4]:
train.head(70)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
65,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,NaN,1100,2.0,1.0,62.00
66,Super built-up Area,18-Apr,Gunjur,2 BHK,BMineis,1140,2.0,3.0,43.00
67,Super built-up Area,Ready To Move,Marathahalli,2 BHK,NaN,1220,2.0,1.0,57.00
68,Plot Area,Ready To Move,Devarachikkanahalli,8 Bedroom,NaN,1350,7.0,0.0,85.00
69,Super built-up Area,Ready To Move,Kanakpura Road,2 BHK,NaN,1005,2.0,1.0,36.68

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
train[train["location"].isnull()].index

Int64Index([568], dtype='int64')

In [7]:
train.dropna(subset=["location", "size"], inplace=True, axis=0)

In [8]:
train.drop("society", axis=1, inplace=True)

In [9]:
# guntha done
# - done
# cents done
# acres done
# sq m done
# grounds done
# perch done
# sq yards done

In [10]:
for x in train[train["total_sqft"].astype(str).str.contains("-")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("-")
    new_xs = list(map(float, new_x))
    new_x_one = new_xs[0]
    new_x_two = new_xs[1]
    
    total_x = (new_x_one + new_x_two)/2
    
    train.loc[x, "total_sqft"] = total_x
    
    
for x in test[test["total_sqft"].astype(str).str.contains("-")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("-")
    new_xs = list(map(float, new_x))
    new_x_one = new_xs[0]
    new_x_two = new_xs[1]
    
    total_x = (new_x_one + new_x_two)/2
    
    test.loc[x, "total_sqft"] = total_x

In [11]:
train.loc[2301, "total_sqft"]

1104.0

In [12]:
for x in train[train["total_sqft"].astype(str).str.contains("Guntha")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("G")
    new_x_one = int(new_x[0])
    
    total_x = new_x_one * 1089
    
    train.loc[x, "total_sqft"] = total_x
    
    
for x in test[test["total_sqft"].astype(str).str.contains("Guntha")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("G")
    new_x_one = int(new_x[0])
    
    total_x = new_x_one * 1089
    
    test.loc[x, "total_sqft"] = total_x

In [13]:
train.iloc[11319]

area_type       Super built-up  Area
availability           Ready To Move
location                    Nagavara
size                           2 BHK
total_sqft                      1247
bath                             2.0
balcony                          1.0
price                          58.56
Name: 11335, dtype: object

In [14]:
for x in train[train["total_sqft"].astype(str).str.contains("Cents")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("C")
    new_x_one = int(new_x[0])
    
    total_x = new_x_one * 435.6
    
    train.loc[x, "total_sqft"] = total_x
    
    
for x in test[test["total_sqft"].astype(str).str.contains("Cents")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("C")
    new_x_one = int(new_x[0])
    
    total_x = new_x_one * 435.6
    
    test.loc[x, "total_sqft"] = total_x

In [15]:
train.iloc[7000]

area_type             Built-up  Area
availability           Ready To Move
location        Lakshminarayana Pura
size                           2 BHK
total_sqft                      1395
bath                             2.0
balcony                          0.0
price                           75.0
Name: 7010, dtype: object

In [16]:
for x in train[train["total_sqft"].astype(str).str.contains("Acres")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("A")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 43560
    
    train.loc[x, "total_sqft"] = total_x
    
    
for x in test[test["total_sqft"].astype(str).str.contains("Acres")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("A")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 43560
    
    test.loc[x, "total_sqft"] = total_x

In [17]:
train.iloc[6332]

area_type       Super built-up  Area
availability           Ready To Move
location          Yelahanka New Town
size                           1 BHK
total_sqft                       500
bath                             2.0
balcony                          1.0
price                           24.0
Name: 6339, dtype: object

In [18]:
for x in train[train["total_sqft"].astype(str).str.contains("Sq. Meter")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("S")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 10.764
    
    train.loc[x, "total_sqft"] = total_x
    

for x in test[test["total_sqft"].astype(str).str.contains("Sq. Meter")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("S")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 10.764
    
    test.loc[x, "total_sqft"] = total_x

In [19]:
train.iloc[7519]

area_type           Super built-up  Area
availability               Ready To Move
location        Electronics City Phase 1
size                               2 BHK
total_sqft                          1125
bath                                 2.0
balcony                              2.0
price                               65.0
Name: 7529, dtype: object

In [20]:
for x in train[train["total_sqft"].astype(str).str.contains("Sq. Yards")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("S")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 9
    
    train.loc[x, "total_sqft"] = total_x
    
    
for x in test[test["total_sqft"].astype(str).str.contains("Sq. Yards")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("S")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 9
    
    test.loc[x, "total_sqft"] = total_x

In [21]:
train.iloc[8272]

area_type       Super built-up  Area
availability           Ready To Move
location          Pattandur Agrahara
size                           3 BHK
total_sqft                      1550
bath                             2.0
balcony                          3.0
price                           80.0
Name: 8283, dtype: object

In [22]:
for x in train[train["total_sqft"].astype(str).str.contains("Perch")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("P")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 272.25
    
    train.loc[x, "total_sqft"] = total_x
    
    
for x in test[test["total_sqft"].astype(str).str.contains("Perch")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("P")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 272.25
    
    test.loc[x, "total_sqft"] = total_x

In [23]:
train.iloc[647]

area_type       Super built-up  Area
availability           Ready To Move
location               Hosakerehalli
size                           3 BHK
total_sqft                      2378
bath                             3.0
balcony                          1.0
price                          262.0
Name: 649, dtype: object

In [24]:
for x in train[train["total_sqft"].astype(str).str.contains("Grounds")]["total_sqft"].index.tolist():
    
    xs = train.loc[x, "total_sqft"]
    new_x = xs.split("G")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 2400
    
    train.loc[x, "total_sqft"] = total_x
    
    
for x in test[test["total_sqft"].astype(str).str.contains("Grounds")]["total_sqft"].index.tolist():
    
    xs = test.loc[x, "total_sqft"]
    new_x = xs.split("G")
    new_x_one = float(new_x[0])
    
    total_x = new_x_one * 2400
    
    test.loc[x, "total_sqft"] = total_x

In [25]:
train.iloc[9422]

area_type       Super built-up  Area
availability           Ready To Move
location                    Budigere
size                           3 BHK
total_sqft                      1636
bath                             3.0
balcony                          2.0
price                           83.0
Name: 9436, dtype: object

In [26]:
train["total_sqft"] = pd.to_numeric(train["total_sqft"])

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13303 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13303 non-null  object
 1   availability  13303 non-null  object
 2   location      13303 non-null  object
 3   size          13303 non-null  object
 4   total_sqft    13303 non-null  float64
 5   bath          13246 non-null  float64
 6   balcony       12710 non-null  float64
 7   price         13303 non-null  float64
dtypes: float64(4), object(4)
memory usage: 1.4+ MB

In [28]:
imputer = SimpleImputer(strategy="mean")
train["bath"] = imputer.fit_transform(train["bath"].values.reshape(-1,1))
train["balcony"] = imputer.fit_transform(train["balcony"].values.reshape(-1,1))

In [29]:
train["size"] = train["size"].apply(lambda x: x.strip(" ")[0])

In [30]:
train["size"] = pd.to_numeric(train["size"])

In [31]:
train.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2,1056.0,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4,2600.0,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3,1440.0,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3,1521.0,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2,1200.0,2.0,1.0,51.00

In [32]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     1480 non-null   object
 1   availability  1480 non-null   object
 2   location      1480 non-null   object
 3   size          1478 non-null   object
 4   society       854 non-null    object
 5   total_sqft    1480 non-null   object
 6   bath          1473 non-null   float64
 7   balcony       1411 non-null   float64
 8   price         0 non-null      float64
dtypes: float64(3), object(6)
memory usage: 104.2+ KB

In [33]:
test.drop("society", axis=1, inplace=True)

In [34]:
imputer_test = SimpleImputer(strategy="mean")
test["bath"] = imputer_test.fit_transform(test["bath"].values.reshape(-1,1))
test["balcony"] = imputer_test.fit_transform(test["balcony"].values.reshape(-1,1))

In [35]:
test[test["size"].isnull()]

,area_type,availability,location,size,total_sqft,bath,balcony,price
151,Plot Area,Immediate Possession,Chikkaballapur,NaN,1600.0,2.753564,1.562013,NaN
1160,Plot Area,Immediate Possession,Hosa Road,NaN,2300.0,2.753564,1.562013,NaN

In [36]:
test.loc[151, "size"] = "4 BHK"
test.loc[1160, "size"] = "5 BHK"

In [37]:
test["size"] = test["size"].apply(lambda x: x.strip(" ")[0])

In [38]:
test["total_sqft"] = pd.to_numeric(test["total_sqft"])
test["size"] = pd.to_numeric(test["size"])

In [39]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     1480 non-null   object
 1   availability  1480 non-null   object
 2   location      1480 non-null   object
 3   size          1480 non-null   int64
 4   total_sqft    1480 non-null   float64
 5   bath          1480 non-null   float64
 6   balcony       1480 non-null   float64
 7   price         0 non-null      float64
dtypes: float64(4), int64(1), object(3)
memory usage: 92.6+ KB

In [40]:
test.head(), train.head()

(              area_type   availability           location  size  total_sqft  \
 0  Super built-up  Area  Ready To Move        Brookefield     2      1225.0
 1            Plot  Area  Ready To Move      Akshaya Nagar     9      2400.0
 2            Plot  Area         18-Apr        Hennur Road     4      1650.0
 3  Super built-up  Area  Ready To Move  Kodichikkanahalli     3      1322.0
 4  Super built-up  Area  Ready To Move        Konanakunte     2      1161.0

    bath  balcony  price
 0   2.0      2.0    NaN
 1   9.0      2.0    NaN
 2   5.0      2.0    NaN
 3   3.0      1.0    NaN
 4   2.0      1.0    NaN  ,
               area_type   availability                  location  size  \
 0  Super built-up  Area         19-Dec  Electronic City Phase II     2
 1            Plot  Area  Ready To Move          Chikka Tirupathi     4
 2        Built-up  Area  Ready To Move               Uttarahalli     3
 3  Super built-up  Area  Ready To Move        Lingadheeranahalli     3
 4  Super built-up  Area  Ready To Move                  Kothanur     2

    total_sqft  bath  balcony   price
 0      1056.0   2.0      1.0   39.07
 1      2600.0   5.0      3.0  120.00
 2      1440.0   2.0      3.0   62.00
 3      1521.0   3.0      1.0   95.00
 4      1200.0   2.0      1.0   51.00  )

In [41]:
X_test = test.drop(["price", "availability"], axis=1)
train.drop("availability", axis=1, inplace=True)

In [42]:
X = train.drop("price", axis=1)
y = train["price"]

In [43]:
X

,area_type,location,size,total_sqft,bath,balcony
0,Super built-up Area,Electronic City Phase II,2,1056.0,2.0,1.000000
1,Plot Area,Chikka Tirupathi,4,2600.0,5.0,3.000000
2,Built-up Area,Uttarahalli,3,1440.0,2.0,3.000000
3,Super built-up Area,Lingadheeranahalli,3,1521.0,3.0,1.000000
4,Super built-up Area,Kothanur,2,1200.0,2.0,1.000000
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5,3453.0,4.0,0.000000
13316,Super built-up Area,Richards Town,4,3600.0,5.0,1.584343
13317,Built-up Area,Raja Rajeshwari Nagar,2,1141.0,2.0,1.000000
13318,Super built-up Area,Padmanabhanagar,4,4689.0,4.0,1.000000
13319,Super built-up Area,Doddathoguru,1,550.0,1.0,1.000000

In [44]:
le = LabelEncoder()
X["location"] = le.fit_transform(X["location"])

In [49]:
X_scaled[0]

array([0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
       1.25000000e-01, 8.07316198e-04, 2.56410256e-02, 3.33333333e-01,
       3.21565618e-01])

In [50]:
le1 = LabelEncoder()
X_test["location"] = le1.fit_transform(X_test["location"])

In [52]:
X_test_scaled[0]

array([0.        , 0.        , 0.        , 1.        , 0.125     ,
       0.00544177, 0.06666667, 0.66666667, 0.19230769])

In [54]:
y = np.array(y)

In [55]:
y

array([ 39.07, 120.  ,  62.  , ...,  60.  , 488.  ,  17.  ])

In [56]:
model = keras.Sequential()

model.add(keras.layers.Dense(256, activation="relu"))
model.add(keras.layers.Dense(128, activation="relu"))
model.add(keras.layers.Dense(128, activation="relu"))
model.add(keras.layers.Dense(64, activation="relu"))
model.add(keras.layers.Dense(32, activation="relu"))

model.add(keras.layers.Dropout(0.4))

model.add(keras.layers.Dense(1, activation="linear"))

model.compile(loss=keras.losses.mae, metrics=["mae"], 
              optimizer = keras.optimizers.Adam(lr=1))

model.fit(X_scaled, y, epochs=100, validation_split=0.15)

Epoch 1/100
354/354 [==============================] - 4s 5ms/step - loss: 1365599.3073 - mae: 1365599.3073 - val_loss: 65.4624 - val_mae: 65.4624
Epoch 2/100
354/354 [==============================] - 1s 3ms/step - loss: 63.8894 - mae: 63.8894 - val_loss: 65.3759 - val_mae: 65.3759
Epoch 3/100
354/354 [==============================] - 2s 4ms/step - loss: 64.0601 - mae: 64.0601 - val_loss: 65.3493 - val_mae: 65.3493
Epoch 4/100
354/354 [==============================] - 2s 6ms/step - loss: 62.7343 - mae: 62.7343 - val_loss: 65.4042 - val_mae: 65.4042
Epoch 5/100
354/354 [==============================] - 2s 7ms/step - loss: 61.9663 - mae: 61.9663 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 6/100
354/354 [==============================] - 1s 4ms/step - loss: 61.4339 - mae: 61.4339 - val_loss: 65.3912 - val_mae: 65.3912
Epoch 7/100
354/354 [==============================] - 1s 2ms/step - loss: 62.9112 - mae: 62.9112 - val_loss: 65.3685 - val_mae: 65.3685
Epoch 8/100
354/354 [==============================] - 1s 2ms/step - loss: 63.0928 - mae: 63.0928 - val_loss: 65.3764 - val_mae: 65.3764
Epoch 9/100
354/354 [==============================] - 1s 2ms/step - loss: 62.5938 - mae: 62.5938 - val_loss: 65.3602 - val_mae: 65.3602
Epoch 10/100
354/354 [==============================] - 1s 2ms/step - loss: 61.8989 - mae: 61.8989 - val_loss: 65.3428 - val_mae: 65.3428
Epoch 11/100
354/354 [==============================] - 1s 3ms/step - loss: 62.3612 - mae: 62.3612 - val_loss: 65.3575 - val_mae: 65.3575
Epoch 12/100
354/354 [==============================] - 1s 2ms/step - loss: 63.0674 - mae: 63.0674 - val_loss: 65.3876 - val_mae: 65.3876
Epoch 13/100
354/354 [==============================] - 1s 3ms/step - loss: 61.2958 - mae: 61.2958 - val_loss: 65.3603 - val_mae: 65.3603
Epoch 14/100
354/354 [==============================] - 1s 3ms/step - loss: 63.3418 - mae: 63.3418 - val_loss: 65.3429 - val_mae: 65.3429
Epoch 15/100
354/354 [==============================] - 1s 2ms/step - loss: 63.4245 - mae: 63.4245 - val_loss: 65.3513 - val_mae: 65.3513
Epoch 16/100
354/354 [==============================] - 1s 4ms/step - loss: 63.0200 - mae: 63.0200 - val_loss: 65.3540 - val_mae: 65.3540
Epoch 17/100
354/354 [==============================] - 1s 2ms/step - loss: 63.6403 - mae: 63.6403 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 18/100
354/354 [==============================] - 1s 2ms/step - loss: 62.7781 - mae: 62.7781 - val_loss: 65.3579 - val_mae: 65.3579
Epoch 19/100
354/354 [==============================] - 1s 2ms/step - loss: 63.5946 - mae: 63.5946 - val_loss: 65.3448 - val_mae: 65.3448
Epoch 20/100
354/354 [==============================] - 2s 5ms/step - loss: 61.9860 - mae: 61.9860 - val_loss: 65.3539 - val_mae: 65.3539
Epoch 21/100
354/354 [==============================] - 2s 5ms/step - loss: 63.4367 - mae: 63.4367 - val_loss: 65.3823 - val_mae: 65.3823
Epoch 22/100
354/354 [==============================] - 1s 2ms/step - loss: 60.3674 - mae: 60.3674 - val_loss: 65.4047 - val_mae: 65.4047
Epoch 23/100
354/354 [==============================] - 1s 2ms/step - loss: 63.9875 - mae: 63.9875 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 24/100
354/354 [==============================] - 1s 2ms/step - loss: 64.3634 - mae: 64.3634 - val_loss: 65.3421 - val_mae: 65.3421
Epoch 25/100
354/354 [==============================] - 1s 2ms/step - loss: 62.8102 - mae: 62.8102 - val_loss: 65.3426 - val_mae: 65.3426
Epoch 26/100
354/354 [==============================] - 2s 5ms/step - loss: 61.0601 - mae: 61.0601 - val_loss: 65.3424 - val_mae: 65.3424
Epoch 27/100
354/354 [==============================] - 1s 2ms/step - loss: 65.5686 - mae: 65.5686 - val_loss: 65.3835 - val_mae: 65.3835
Epoch 28/100
354/354 [==============================] - 1s 2ms/step - loss: 61.5202 - mae: 61.5202 - val_loss: 65.4205 - val_mae: 65.4205
Epoch 29/100
354/354 [==============================] - 1s 3ms/step - loss: 63.8817 - mae: 63.8817 - val_loss: 65.3421 - val_mae: 65.3421
Epoch 30/100
354/354 [==============================] - 2s 5ms/step - loss: 64.3403 - mae: 64.3403 - val_loss: 65.3445 - val_mae: 65.3445
Epoch 31/100
354/354 [==============================] - 1s 2ms/step - loss: 64.2928 - mae: 64.2928 - val_loss: 65.3444 - val_mae: 65.3444
Epoch 32/100
354/354 [==============================] - 1s 2ms/step - loss: 62.5846 - mae: 62.5846 - val_loss: 65.4064 - val_mae: 65.4064
Epoch 33/100
354/354 [==============================] - 1s 4ms/step - loss: 61.6817 - mae: 61.6817 - val_loss: 65.3698 - val_mae: 65.3698
Epoch 34/100
354/354 [==============================] - 1s 3ms/step - loss: 62.8307 - mae: 62.8307 - val_loss: 65.3495 - val_mae: 65.3495
Epoch 35/100
354/354 [==============================] - 1s 3ms/step - loss: 64.4062 - mae: 64.4062 - val_loss: 65.3422 - val_mae: 65.3422
Epoch 36/100
354/354 [==============================] - 1s 2ms/step - loss: 64.7088 - mae: 64.7088 - val_loss: 65.3557 - val_mae: 65.3557
Epoch 37/100
354/354 [==============================] - 1s 2ms/step - loss: 63.1141 - mae: 63.1141 - val_loss: 65.3817 - val_mae: 65.3817
Epoch 38/100
354/354 [==============================] - 1s 3ms/step - loss: 65.1014 - mae: 65.1014 - val_loss: 65.3421 - val_mae: 65.3421
Epoch 39/100
354/354 [==============================] - 1s 3ms/step - loss: 63.0304 - mae: 63.0304 - val_loss: 65.4190 - val_mae: 65.4190
Epoch 40/100
354/354 [==============================] - 1s 3ms/step - loss: 63.3720 - mae: 63.3720 - val_loss: 65.3427 - val_mae: 65.3427
Epoch 41/100
354/354 [==============================] - 1s 2ms/step - loss: 61.0479 - mae: 61.0479 - val_loss: 65.3784 - val_mae: 65.3784
Epoch 42/100
354/354 [==============================] - 1s 3ms/step - loss: 63.6099 - mae: 63.6099 - val_loss: 65.4632 - val_mae: 65.4632
Epoch 43/100
354/354 [==============================] - 2s 6ms/step - loss: 63.3200 - mae: 63.3200 - val_loss: 65.3422 - val_mae: 65.3422
Epoch 44/100
354/354 [==============================] - 1s 4ms/step - loss: 62.7231 - mae: 62.7231 - val_loss: 65.3445 - val_mae: 65.3445
Epoch 45/100
354/354 [==============================] - 2s 5ms/step - loss: 62.8827 - mae: 62.8827 - val_loss: 65.3760 - val_mae: 65.3760
Epoch 46/100
354/354 [==============================] - 1s 4ms/step - loss: 63.6864 - mae: 63.6864 - val_loss: 65.3491 - val_mae: 65.3491
Epoch 47/100
354/354 [==============================] - 1s 2ms/step - loss: 62.8616 - mae: 62.8616 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 48/100
354/354 [==============================] - 1s 3ms/step - loss: 62.7476 - mae: 62.7476 - val_loss: 65.3498 - val_mae: 65.3498
Epoch 49/100
354/354 [==============================] - 1s 4ms/step - loss: 64.9175 - mae: 64.9175 - val_loss: 65.3421 - val_mae: 65.3421
Epoch 50/100
354/354 [==============================] - 1s 2ms/step - loss: 61.5578 - mae: 61.5578 - val_loss: 65.3813 - val_mae: 65.3813
Epoch 51/100
354/354 [==============================] - 1s 2ms/step - loss: 63.5391 - mae: 63.5391 - val_loss: 65.3752 - val_mae: 65.3752
Epoch 52/100
354/354 [==============================] - 1s 2ms/step - loss: 61.8415 - mae: 61.8415 - val_loss: 65.3426 - val_mae: 65.3426
Epoch 53/100
354/354 [==============================] - 1s 2ms/step - loss: 61.6885 - mae: 61.6885 - val_loss: 65.3739 - val_mae: 65.3739
Epoch 54/100
354/354 [==============================] - 1s 2ms/step - loss: 62.3258 - mae: 62.3258 - val_loss: 65.4301 - val_mae: 65.4301
Epoch 55/100
354/354 [==============================] - 1s 2ms/step - loss: 60.7508 - mae: 60.7508 - val_loss: 65.4400 - val_mae: 65.4400
Epoch 56/100
354/354 [==============================] - 1s 2ms/step - loss: 63.5598 - mae: 63.5598 - val_loss: 65.3944 - val_mae: 65.3944
Epoch 57/100
354/354 [==============================] - 2s 6ms/step - loss: 60.9161 - mae: 60.9161 - val_loss: 65.4061 - val_mae: 65.4061
Epoch 58/100
354/354 [==============================] - 1s 4ms/step - loss: 62.2283 - mae: 62.2283 - val_loss: 65.3775 - val_mae: 65.3775
Epoch 59/100
354/354 [==============================] - 2s 5ms/step - loss: 62.6139 - mae: 62.6139 - val_loss: 65.3462 - val_mae: 65.3462
Epoch 60/100

354/354 [==============================] - 1s 2ms/step - loss: 63.5647 - mae: 63.5647 - val_loss: 65.4083 - val_mae: 65.4083
Epoch 61/100
354/354 [==============================] - 1s 4ms/step - loss: 63.9157 - mae: 63.9157 - val_loss: 65.3678 - val_mae: 65.3678
Epoch 62/100
354/354 [==============================] - 2s 5ms/step - loss: 63.4495 - mae: 63.4495 - val_loss: 65.3523 - val_mae: 65.3523
Epoch 63/100
354/354 [==============================] - 1s 3ms/step - loss: 64.4849 - mae: 64.4849 - val_loss: 65.3485 - val_mae: 65.3485
Epoch 64/100
354/354 [==============================] - 1s 2ms/step - loss: 63.1952 - mae: 63.1952 - val_loss: 65.3531 - val_mae: 65.3531
Epoch 65/100
354/354 [==============================] - 1s 2ms/step - loss: 63.7508 - mae: 63.7508 - val_loss: 65.4241 - val_mae: 65.4241
Epoch 66/100
354/354 [==============================] - 2s 4ms/step - loss: 64.1068 - mae: 64.1068 - val_loss: 65.3667 - val_mae: 65.3667
Epoch 67/100
354/354 [==============================] - 1s 4ms/step - loss: 62.4753 - mae: 62.4753 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 68/100
354/354 [==============================] - 1s 4ms/step - loss: 64.8472 - mae: 64.8472 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 69/100
354/354 [==============================] - 2s 6ms/step - loss: 61.4396 - mae: 61.4396 - val_loss: 65.4242 - val_mae: 65.4242
Epoch 70/100
354/354 [==============================] - 1s 2ms/step - loss: 60.6966 - mae: 60.6966 - val_loss: 65.3583 - val_mae: 65.3583
Epoch 71/100
354/354 [==============================] - 1s 2ms/step - loss: 64.3874 - mae: 64.3874 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 72/100
354/354 [==============================] - 2s 5ms/step - loss: 63.1371 - mae: 63.1371 - val_loss: 65.3847 - val_mae: 65.3847
Epoch 73/100
354/354 [==============================] - 1s 2ms/step - loss: 62.7040 - mae: 62.7040 - val_loss: 65.3420 - val_mae: 65.3420
Epoch 74/100
354/354 [==============================] - 2s 6ms/step - loss: 61.3869 - mae: 61.3869 - val_loss: 65.3864 - val_mae: 65.3864
Epoch 75/100
354/354 [==============================] - 2s 6ms/step - loss: 64.6751 - mae: 64.6751 - val_loss: 65.6293 - val_mae: 65.6293
Epoch 76/100
354/354 [==============================] - 1s 2ms/step - loss: 63.2335 - mae: 63.2335 - val_loss: 65.3542 - val_mae: 65.3542
Epoch 77/100
354/354 [==============================] - 2s 5ms/step - loss: 64.5952 - mae: 64.5952 - val_loss: 65.3768 - val_mae: 65.3768
Epoch 78/100
354/354 [==============================] - 1s 2ms/step - loss: 61.5924 - mae: 61.5924 - val_loss: 65.3623 - val_mae: 65.3623
Epoch 79/100
354/354 [==============================] - 1s 4ms/step - loss: 63.7808 - mae: 63.7808 - val_loss: 65.3422 - val_mae: 65.3422
Epoch 80/100
354/354 [==============================] - 1s 3ms/step - loss: 63.3228 - mae: 63.3228 - val_loss: 65.3737 - val_mae: 65.3737
Epoch 81/100
354/354 [==============================] - 1s 2ms/step - loss: 62.6866 - mae: 62.6866 - val_loss: 65.4154 - val_mae: 65.4154
Epoch 82/100
354/354 [==============================] - 2s 4ms/step - loss: 62.4204 - mae: 62.4204 - val_loss: 65.3497 - val_mae: 65.3497
Epoch 83/100
354/354 [==============================] - 2s 6ms/step - loss: 64.3574 - mae: 64.3574 - val_loss: 65.3498 - val_mae: 65.3498
Epoch 84/100
354/354 [==============================] - 1s 2ms/step - loss: 63.3157 - mae: 63.3157 - val_loss: 65.3479 - val_mae: 65.3479
Epoch 85/100
354/354 [==============================] - 1s 2ms/step - loss: 65.0757 - mae: 65.0757 - val_loss: 65.3499 - val_mae: 65.3499
Epoch 86/100
354/354 [==============================] - 1s 2ms/step - loss: 64.9953 - mae: 64.9953 - val_loss: 65.3430 - val_mae: 65.3430
Epoch 87/100
354/354 [==============================] - 1s 2ms/step - loss: 64.2293 - mae: 64.2293 - val_loss: 65.3488 - val_mae: 65.3488
Epoch 88/100
354/354 [==============================] - 1s 4ms/step - loss: 62.3888 - mae: 62.3888 - val_loss: 65.3423 - val_mae: 65.3423
Epoch 89/100
354/354 [==============================] - 1s 2ms/step - loss: 63.9284 - mae: 63.9284 - val_loss: 65.3426 - val_mae: 65.3426
Epoch 90/100
354/354 [==============================] - 2s 6ms/step - loss: 61.8484 - mae: 61.8484 - val_loss: 65.3565 - val_mae: 65.3565
Epoch 91/100
354/354 [==============================] - 1s 2ms/step - loss: 63.7444 - mae: 63.7444 - val_loss: 65.3448 - val_mae: 65.3448
Epoch 92/100
354/354 [==============================] - 1s 2ms/step - loss: 61.4154 - mae: 61.4154 - val_loss: 65.3562 - val_mae: 65.3562
Epoch 93/100
354/354 [==============================] - 2s 4ms/step - loss: 62.8333 - mae: 62.8333 - val_loss: 65.3481 - val_mae: 65.3481
Epoch 94/100
354/354 [==============================] - 1s 2ms/step - loss: 64.0142 - mae: 64.0142 - val_loss: 65.3459 - val_mae: 65.3459
Epoch 95/100
354/354 [==============================] - 1s 2ms/step - loss: 62.5832 - mae: 62.5832 - val_loss: 65.3422 - val_mae: 65.3422
Epoch 96/100
354/354 [==============================] - 2s 5ms/step - loss: 63.9376 - mae: 63.9376 - val_loss: 65.3431 - val_mae: 65.3431
Epoch 97/100
354/354 [==============================] - 1s 2ms/step - loss: 60.8746 - mae: 60.8746 - val_loss: 65.3453 - val_mae: 65.3453
Epoch 98/100
354/354 [==============================] - 1s 2ms/step - loss: 64.0400 - mae: 64.0400 - val_loss: 65.4449 - val_mae: 65.4449
Epoch 99/100
354/354 [==============================] - 2s 5ms/step - loss: 60.2847 - mae: 60.2847 - val_loss: 65.3754 - val_mae: 65.3754
Epoch 100/100
354/354 [==============================] - 1s 2ms/step - loss: 64.2631 - mae: 64.2631 - val_loss: 65.3718 - val_mae: 65.3718

In [57]:
preds = model.predict([X_test_scaled])

WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'tuple'> input: (<tf.Tensor 'IteratorGetNext:0' shape=(None, 9) dtype=float32>,)
Consider rewriting this model with the Functional API.

In [58]:
preds

array([[73.455185],
       [73.455185],
       [73.455185],
       ...,
       [73.455185],
       [73.455185],
       [73.455185]], dtype=float32)